body
{
background-color: #ffe4b5;
font-family: "Times New Roman", serif;
}

h1, h2
{
font-family: Arial, sans-serif;
margin-left: 20px;
color: blue;
}

h1
{
font-size: 30pt;
}

h2
{
font-size: 20pt;
}

.casilla
{
width: 152px;
height: 152px;
background-image: url("imagenes/imagen_0.jpg");
text-align: center;
cursor: pointer;
}

.oculto
{
display: none;
cursor: default;
}

#divTablero
{
float: left;
margin: 0 10px 10px 10px;
border: 1px solid blue;
width: 630px;
}

#enhorabuena
{
margin: 30px;
float: left;
}

#pNumeroIntentos
{
margin-left: 5%;
}

#pCronometro
{
text-align: right;
float: right;
margin-right: 5%;
}

.marcador
{
width: 30%;
float: left;
margin: 10px 0;
}

#botonReiniciar
{
text-align: center;
margin-top: 10px;
}

#tablero
{
width: 100%;
}